{% extends "base.html" %}
{% block titulo %}Editar Perfil{% endblock %}

{% block conteudo %}
<div class="mx-auto mt-4" style="max-width: 420px;">

    <h2 class="text-center mb-3">Editar Perfil</h2>

    <div class="text-center mb-3">
        <img src="/{{ foto }}" class="rounded-circle" width="150">
    </div>

    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label>Apelido</label>
            <input type="text" name="apelido" class="form-control"
                   value="{{ apelido }}">
        </div>

        <div class="mb-3">
            <label>Foto de Perfil</label>
            <input type="file" name="foto" class="form-control">
        </div>

        <button class="btn btn-primary w-100">Salvar Alterações</button>

    </form>
</div>
{% endblock %}
