{% extends 'base.html' %}

{% block titulo %} Registro {% endblock titulo %}

{% block conteudo %}
<div class="mx-auto mt-5" style="max-width: 420px;">

    <h2 class="text-center mb-4">Criar Conta</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">
                {% for m in messages %}
                    <p>{{ m }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="post">
        <div class="mb-3">
            <label>Usuário</label>
            <input type="text" name="usuario" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Senha</label>
            <input type="password" name="senha" class="form-control" required>
        </div>

        <button class="btn btn-success w-100">Registrar</button>
    </form>
</div>
{% endblock conteudo %}
